#Navbar {
  /* text-align: center; */
  background-color: #F7F9FB;
  min-height: 6vh;
}

.Footer {
  text-align: center;
  background-color: #F7F9FB;
  height: 100px;
  color: #687864;
}

.MainContainer {
  text-align: center;
  height: stretch;
  vertical-align: middle;
  display: flex;
}

.homepage {
  position: relative;
  background: #F7F9FB;
  background-image: url('./FriendsWaterfall.png');
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly
}

.trip-show {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly
}

.hompepageItem {
  background-color: #F7F9FB;
  padding: 1rem;
  border: 1px solid #8080803d;
  border-radius: 20px;
  width: 30%;
  color: #687864;
}

.trip-show-item {
  background: #8fc1e3;
  border: 5px solid #8fc1e3;
  border-radius: 10px;
  color: #687864;
  margin: 1rem;
  width: 100%;
}

.dashboard {
  text-align: center;
}

.new-trip {
  background-color: #687864;
  padding: 1rem;
  border: 1px solid #8080803d;
  border-radius: 20px;
  color: #F7F9FB;
}

.ui.input {
  margin: 1rem
}

.dropdown-container {
  display: inline;
  margin: 1rem
}

#calendar-container {
  background-color: #F7F9FB;
  border-radius: 20px;
  margin: 3rem 2rem
}
