#Navbar {
  text-align: center;
  background-color: #F7F9FB;
  min-height: 6vh;
}

.Footer {
  text-align: center;
  background-color: #F7F9FB;
  height: 100px
}

.MainContainer {
  text-align: center;
  height: fill-available;
  vertical-align: middle;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.homepage {
  position: relative;
  background: #000000 url(https://i.imgur.com/dNmKVQT.jpg) 100% 100% !important;
  background-repeat: repeat;
  background-size: cover;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly
}

.hompepageItem {
  background-color: #F7F9FB;
  padding: 1rem;
  border: 1px solid #8080803d;
  border-radius: 20px;
  width: 30%;
}
